.navbar{
    background-color:black;
}
.navbar-toggler{
    background-color: blueviolet;
}
.nav-item {
    color:  white;   
}
.offcanvas{
    background-color:black;
    color: white;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: blueviolet;
}
aside{
    background-color: white;
}
main{
    background-color: black;
    color: white;
}